# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
.venv310/
venv/
ENV/
env/

# IDE / Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Data files (if large or not meant for repo - uncomment and specify if needed)
# data/*.obj
# data/generated_slices/*.png

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json # Optional: sometimes committed, sometimes not
